body {
  padding: 42px;
  font-family: Arial, sans-serif;
  border-top: 5px solid #5297c0;
  margin: 0;
}

::selection {
  color: white;
  background: #5297c0;
}

header > h1 {
  font-size: 4.2em;
  text-align: center;
}

p {
  color: #666;
}

a {
  color: #e58e5b;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}